---
import { getCollection } from "astro:content";
import Pagination from "../components/Pagination.astro";
import PostCard from "../components/PostCard.astro";
import { SITE } from "../config";
import SiteLayout from "../layouts/SiteLayout.astro";
import { sortPosts } from "../lib/blog";

const allPosts = sortPosts(await getCollection("blog"));
const posts = allPosts.slice(0, SITE.postsPerPage);
const totalPages = Math.ceil(allPosts.length / SITE.postsPerPage);
---

<SiteLayout title="Blog" description={SITE.subtitle} canonicalPath="/">
  <div class="entry-wrapper">
    {posts.map((post) => <PostCard post={post} headingLevel={2} />)}
  </div>

  {totalPages > 1 && <Pagination page={1} totalPages={totalPages} />}
</SiteLayout>
